<div class="title">
    <h1>Ver Producto</h1>
</div>
<div class="container">
    <mat-card class="card">
        <mat-card-title>Lejia</mat-card-title>
        <mat-card-content>
            <p><strong>Marca:</strong> Sapolio </p>
            <p><strong>Distribuidor:</strong> Sara Express </p>
            <p><strong>Color:</strong> Blanco </p>
        </mat-card-content>
        <mat-card-actions>
            <button [routerLink]='["/listarProducto"]' mat-raised-button>Volver</button>
        </mat-card-actions>
    </mat-card>
</div>